.heroes-info-short {
  height: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 3vh;
  padding: 2vh;

  &__hero, &__new-hero {
    height: 100%;
    background-size: cover;
    max-height: 16vh;
    max-width: 16vh;
    min-height: 16vh;
    min-width: 16vh;
    border-radius: 2vh;

    &_not-available {
      opacity: .4;
    }
  }
}
