<ion-toolbar>
  <div class="map__event-search__header">Осмотр пещеры</div>
</ion-toolbar>

<div class="map__event-search__content">
  <dice class="map__event-search__content__dice"
        [hidden]="!isShownDice"></dice>

  <div class="map__event-search__content__event">
    <span *ngIf="lastEvent">{{lastEvent.text}}</span>
  </div>
</div>

<div *ngIf="!isInvestigated" class="map__event-search__buttons">
  <div class="buttons_start">
    <button *ngIf="!investigated" ion-button color="light" (click)="search()">Исследовать</button>
  </div>
  <div class="buttons_end">
    <button ion-button color="dark" (click)="close()">Закрыть</button>
  </div>
</div>
