.map__event-search {

  &__header {
    height: 10vh;
    padding-top: 3vh;
    font-size: 4vh;
    font-weight: bold;
    text-align: center;
    vertical-align: bottom;
  }

  &__content {
    display: grid;
    grid-template-rows: auto;
    text-align: center;
    padding: 2vh;

    &__dice {
      height: 15vh;
      width: 15vh;
      margin: auto;
    }

    &__event {
      padding: 3vh 5vh;
    }
  }

  &__buttons {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-between;
    grid-column-gap: 5vh;
    padding: 1vh;
    overflow: hidden;

    button {
      margin: 0;
      width: 100%;
      border-radius: 1vw;
      font-size: 3vh;
    }
  }
}
