.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 100vh;
  background: url('assets/img/backgrounds/start.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  .header {
    width: 100%;
    text-align: center;
    font-weight: bold;
    color: var(--ion-color-dark-contrast);
    background-color: var(--ion-color-dark);
    opacity: var(--control-opacity);
  }

  .loader {
    height: 3vh;
    margin: 5vh;
  }
}
