
<ion-content class="shop-background" scroll="false">
    <!--<div class="shop-title">
        <button ion-button small (click)="close()">
            Закрыть
        </button>    
        <h2 class="shop-title">Магазин</h2>
    </div>-->
  <ion-toolbar class="shop-title">
    <ion-buttons start>
      <gold></gold>
    </ion-buttons>  
    <ion-title>Магазин</ion-title>  
    <ion-buttons end>
      <button ion-button (click)="close()">
        Закрыть
      </button>
    </ion-buttons>
  </ion-toolbar>

  <ion-tabs tabsPlacement="top">
    <ion-tab tabIcon="contact" small tabTitle="Снаряжение" [root]="tabEquipment"></ion-tab>
    <ion-tab tabIcon="flame" small tabTitle="Атака" [root]="tabAttack"></ion-tab>
    <ion-tab tabIcon="snow" small tabTitle="Защита" [root]="tabDefense"></ion-tab>
    <ion-tab tabIcon="leaf" small tabTitle="Лечение" [root]="tabHeal"></ion-tab>
    <ion-tab tabIcon="water" small tabTitle="Магия" [root]="tabMagic"></ion-tab>
    <ion-tab tabIcon="star" small tabTitle="Особое" [root]="tabSpecial"></ion-tab>
  </ion-tabs>

  <div *ngIf="selectedHero" class="buy-section">
    <button ion-button small block icon-left 
      class="buy-button" [ngClass]="{'item-selected': isSelected }"
      (click)="buy()">
      Купить
    </button>
  </div>
  
  <div class="chose-heroes">
    <div *ngFor="let hero of heroes"
      class="hero" [ngClass]="{'hero-selected': hero === selectedHero }"
      (click)="choseHero(hero)">
      <img src="{{hero.img}}" alt="" title="" />
      <div class="hitpoints"
        >{{hero.hitPoint}}/{{hero.hitPoint}}  
        <ion-icon name="heart" class="hitpoints-icon"></ion-icon>
      </div>
    </div>
    <div *ngIf="heroes.length < 2" 
      class="hero" [ngClass]="{'new-hero-not-available': !isNewHeroAvailable }" 
      (click)="addHero(hero)">
      <img src="assets/img/new-hero.jpg" alt="" title="" />
    </div>
    <div *ngIf="heroes.length < 3" 
      class="hero" [ngClass]="{'new-hero-not-available': !isNewHeroAvailable }" (click)="addHero(hero)">
      <img src="assets/img/new-hero.jpg" alt="" title="" />
    </div>
  </div>
  <!--<ion-grid class="chose-heroes">
      <ion-row *ngIf="heroes">
        <ion-col width-25 *ngFor="let hero of heroes">
          <div class="hero" [ngClass]="{'hero-selected': hero === selectedHero }"
            (click)="choseHero(hero)">
            <img src="{{hero.img}}" alt="" title="" />  
            <div class="hitpoints"
              >{{selectedHero.hitpoint}}/{{selectedHero.hitpoint}}  
              <ion-icon name="heart" class="hitpoints-icon"></ion-icon>
            </div> 
          </div>
        </ion-col>
        <ion-col width-25>
          <div *ngIf="heroes.length < 2" class="hero" (click)="addHero(hero)">
            <img src="assets/img/new-hero.jpg" alt="" title="" /> 
              <ion-icon name="add-circle"></ion-icon>
          </div>
        </ion-col>
        <ion-col width-25>
          <div *ngIf="heroes.length < 3" class="hero" (click)="addHero(hero)">
            <img src="assets/img/new-hero.jpg" alt="" title="" /> 
              <ion-icon name="add-circle"></ion-icon>
          </div>
        </ion-col>
      </ion-row>
  </ion-grid>-->
</ion-content>