
<ion-content class="shop" forceOverscroll="false">
  <ion-toolbar class="shop__title">
    <ion-buttons slot="start">
      <gold></gold>
    </ion-buttons>
    <ion-title>Магазин</ion-title>
    <ion-buttons slot="end">
      <ion-button fill="clear"
                  size="small"
                  color="light"
                  (click)="close()">
        Закрыть
      </ion-button>
    </ion-buttons>
  </ion-toolbar>

  <ion-tabs #shopTabs (ionChange)="onTabsChange()">
    <ion-tab-bar slot="top">
      <ion-tab-button tab="tabEquipment">
        <ion-icon name="contact"></ion-icon>
        <ion-label>Снаряжение</ion-label>
      </ion-tab-button>

      <ion-tab-button *ngFor="let page of shopAbilitiesPages.pages"
                       [tab]="page.title">
        <ion-icon name="flame"></ion-icon>
        <ion-label>{{page.title}}</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>

  <div class="shop__footer">
    <div *ngIf="selectedHero" class="shop__footer__buy-section">
      <button ion-button small block icon-left
              class="buy-button" [ngClass]="{'buy-button_available': isSelectedAvailable }"
              (click)="buy()">
        Купить
      </button>
    </div>

    <div class="shop__footer__heroes">
      <heroes-info-short [heroes]="heroes"
                         [isNewHeroAvailable]="isNewHeroAvailable"
                         (addedHero)="addHero($event)"
                         (selectedHero)="choseHero($event)"></heroes-info-short>
    </div>
  </div>
</ion-content>
