page-shop {
  .shop {
    > .scroll-content {
      width: 100% !important;
      height: 100% !important;
      display: grid;
      grid-template-rows: auto 1fr 20vh;
    }
    .fixed-content {
      background: url(../assets/img/backgrounds/todo.jpg) no-repeat center center fixed;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
    }

    &__background {
      background: url(../assets/img/backgrounds/todo.jpg) no-repeat center center fixed;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
    }

    &__title {
      min-height: auto;
      .toolbar-background {
        background-color: transparent;
      }

      ion-buttons button {
        color: white;
      }

      ion-title .toolbar-title {
        font-weight: bold;
        color: white;
      }
    }

    ion-tabs {
      position: initial;
      .tab-button {
        height: 10vh;
        min-height: 10vh;
        max-height: 10vh;

        ion-icon {
          font-size: 1.5em;
        }
      }
    }

    .shop__footer {
      display: grid;
      grid-template-columns: 1fr auto;

      &__buy-section {
        justify-self: center;
        align-self: center;
        width: 40vh;
        color: white;
        .buy-button {
          color: white;
          border-color: white;
          background-color: gray;
          border-radius: 1rem;
          opacity: .6;

          &_available {
            background-color: green;
          }

          &.activated {
            color: black;
            background-color: white;
          }
        }
      }
    }
  }
}
