
<ion-content class="shop shop__background" scroll="false">
  <ion-toolbar class="shop__title">
    <ion-buttons start>
      <gold></gold>
    </ion-buttons>
    <ion-title>Магазин</ion-title>
    <ion-buttons end>
      <button ion-button (click)="close()">
        Закрыть
      </button>
    </ion-buttons>
  </ion-toolbar>

  <ion-tabs #shopTabs tabsPlacement="top" (ionChange)="onTabsChange()">
    <ion-tab tabIcon="contact" small tabTitle="Снаряжение" [root]="tabEquipment" [rootParams]="equipmentPage"></ion-tab>
    <ion-tab *ngFor="let page of shopAbilitiesPages.pages"
             tabIcon="flame" small [tabTitle]="page.title"
             [root]="tabAbilityList" [rootParams]="page"></ion-tab>
  </ion-tabs>

  <div class="shop__footer">
    <div *ngIf="selectedHero" class="shop__footer__buy-section">
      <button ion-button small block icon-left
        class="buy-button" [ngClass]="{'buy-button_available': isSelectedAvailable }"
        (click)="buy()">
        Купить
      </button>
    </div>

    <div class="shop__footer__heroes">
      <hero-info-short *ngFor="let hero of heroes"
                        [hero]="hero"
                        [isSelected]="hero === selectedHero"
                        class="shop__footer__heroes__hero"
                        (click)="choseHero(hero)"></hero-info-short>
      <div *ngIf="heroes.length < 2"
        class="shop__footer__heroes__hero" [ngClass]="{'shop__footer__heroes_not-available': !isNewHeroAvailable }"
        (click)="addHero(hero)">
        <img src="assets/img/new-hero.jpg" alt="" title="" />
      </div>
      <div *ngIf="heroes.length < 3"
        class="shop__footer__heroes__hero" [ngClass]="{'shop__footer__heroes_not-available': !isNewHeroAvailable }"
        (click)="addHero(hero)">
        <img src="assets/img/new-hero.jpg" alt="" title="" />
      </div>
    </div>
  </div>
</ion-content>
