
<ion-content class="shop-background" scroll="false">
  <ion-toolbar class="shop-title">
    <ion-buttons start>
      <gold></gold>
    </ion-buttons>
    <ion-title>Инвентарь</ion-title>
    <ion-buttons end>
      <button ion-button (click)="close()">
        Закрыть
      </button>
    </ion-buttons>
  </ion-toolbar>

  <div *ngIf="selectedHero" class="buy-section">
    <button ion-button small block icon-left 
      class="buy-button" [ngClass]="{'item-selected': isSelected }"
      (click)="buy()">
      Купить
    </button>
  </div>
  
  <div class="chose-heroes">
    <div *ngFor="let hero of heroes"
      class="hero" [ngClass]="{'hero-selected': hero === selectedHero }"
      (click)="choseHero(hero)">
      <img src="{{hero.img}}" alt="" title="" />
      <div class="hitpoints"
        >{{hero.hitPoint}}/{{hero.hitPoint}}  
        <ion-icon name="heart" class="hitpoints-icon"></ion-icon>
      </div>
    </div>
  </div>
</ion-content>