<ion-content class="inventory inventory_background" scroll="false">
  <ion-toolbar class="inventory__title">
    <ion-buttons start>
      <gold></gold>
    </ion-buttons>
    <ion-title>Инвентарь</ion-title>
    <ion-buttons end>
      <button ion-button (click)="close()">
        Закрыть
      </button>
    </ion-buttons>
  </ion-toolbar>

  <div class="inventory__active-hero-equipment">
    <div class="invetory__active-hero-equipment__item"></div>
  </div>

  <div class="inventory__hero-panel">
    <div class="inventory__hero-panel__image">
      <ion-img src="{{selectedHero.img}}" ></ion-img>
    </div>
    <div class="inventory__hero-panel__type">{{heroClassName}}</div>
    <!-- <div class="inventory__hero-panel__name">{{selectedHero.name}}</div> -->
    <div class="inventory__hero-panel__description">{{selectedHero.description}}</div>
    <div class="inventory__hero-panel__heroes">
      <heroes-info-short [heroes]="heroes"
                         [isNewHeroAvailable]="false"
                         (selectedHero)="choseHero($event)"></heroes-info-short>
    </div>
  </div>

  <div class="inventory__hero-equipment">
    <div class="invetory__hero-equipment__item"></div>
  </div>

</ion-content>
