<ion-content class="inventory inventory_background" scroll="false">
  <ion-toolbar class="inventory__title">
    <ion-buttons start>
      <gold></gold>
    </ion-buttons>
    <ion-title>Инвентарь</ion-title>
    <ion-buttons end>
      <button ion-button (click)="close()">
        Закрыть
      </button>
    </ion-buttons>
  </ion-toolbar>

  <div class="inventory__active-hero-equipment">

  </div>

  <div class="inventory__hero-panel">

  </div>

  <div class="inventory__hero-equipment">

  </div>

</ion-content>
