
.map__field {
  display: grid;
  align-items: center;
  justify-content: center;
}

.popover-event-attack .popover-event-search .popover-content {
  width: 35vw;
}

.popover-event-treasures .popover-content {
  width: auto;
}
