<ion-card class="hero">

  <div class="card-title">{{heroClassName}}</div>

  <div align="center">
    <img src="{{hero.img}}">
  </div>

  <div class="description"  align="justify">
    <b>Особенность: </b>
    <span>{{hero.description}}</span>
  </div>

</ion-card>


<!--<div class="col-xs-4">\
    <div class="row"><img style= "float:left; width:80px;" src= "' + images[ImageType.HeroCleric].src + '" /></div>\
    <div class="row"><b><span style="float:left;">Клирик</span></b></div>\
</div>\
<div class="col-xs-4">\
    <div class="row"><img style= "float:left; width:80px;" src= "' + images[ImageType.HeroScout].src + '" /></div>\
    <div class="row"><b><span style="float:left;">Следопыт</span></b></div>\
</div>\-->
