
ion-card {
    height: 100%;
}
ion-card.hero {
    border-radius: 1.0em;
    position: relative;
    background-color: lightgrey;
    opacity: .85;

    .card-title {
        font-size: 5.0vh;
        font-weight: bold;
        text-align: center;
    }

    img {
        max-height: 30vh;
        max-width: 30vh;
        border-radius: .5em;
    }

    .description {
        padding: .5rem;
        font-size: 3.5vh;
    }
}