.hero {
  display: grid;
  grid-template-rows: auto 40vh 1fr;
  height: 100%;
  margin: 0;
  border-radius: 3vh;
  background-color: lightgrey;
  opacity: .85;

  &__title {
    padding: 2vh;
    font-size: 5.0vh;
    font-weight: bold;
    text-align: center;
  }

  &__image {
    height: 100%;
    object-fit: contain;
    border-radius: .5vh;
  }

  &__description {
    padding: 1.5vh;
    font-size: 3.5vh;
  }
}
