<ion-content class="settings" forceOverscroll="false">
    <ion-toolbar class="settings__header">
        <ion-title class="settings__header__name">Статистика</ion-title>
        <ion-buttons slot="end">
            <ion-button fill="outline" color="light" (click)="close()">
                Закрыть
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
    <ion-button (click)="tests()">TEST!</ion-button>
    <ion-list *ngFor="let creature of statisticService.statisticByCreatures">
        <ion-item>
            <ion-label>
                <h2>{{creature.creature}} </h2>
                <h3>Killed times: {{creature.killedTimes}} </h3>
                <h3>Recieved damage: {{creature.recievedDamage}}</h3>
            </ion-label>
        </ion-item>
    </ion-list>
</ion-content>