
<ion-content class="map-background" scroll="false">
  <ion-toolbar class="map-title">
    <ion-buttons start>
      <gold></gold>
      <!--<button ion-button (click)="selectGold()">
        {{gold}}
        <img src="assets/img/gold.png" alt="" title="" />        
      </button>-->
    </ion-buttons>  
    <ion-title>Карта</ion-title>  
    <ion-buttons end>
      <button ion-button (click)="openShop()">
        Магазин
      </button>
      <button ion-button (click)="openInventory()">
        Инвентарь
      </button>
    </ion-buttons>
  </ion-toolbar>

  <field>
  </field>

</ion-content>
