.map {
  --background: url('assets/img/backgrounds/todo.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  &__title {
    min-height: 15vh;
    max-height: 15vh;
    --background: transparent;
    color: white;
  }
}
