
<ion-content class="map" forceOverscroll="false">
  <ion-toolbar class="map__title">
    <ion-buttons slot="start">
      <gold></gold>
    </ion-buttons>
    <ion-title>Карта</ion-title>
    <ion-buttons slot="end">
      <ion-button fill="clear"
                  size="small"
                  color="light"
                  (click)="openShop()">
        Магазин
      </ion-button>
      <ion-button fill="clear"
                  size="small"
                  color="light"
                  (click)="openInventory()">
        Инвентарь
      </ion-button>
      <ion-button fill="clear"
                  size="small"
                  color="light"
                  (click)="openStatistic()">
        Статистика
      </ion-button>
    </ion-buttons>
  </ion-toolbar>

  <field></field>

</ion-content>
