<ion-toolbar>
  <div class="map__event-win__header">Победа!</div>
</ion-toolbar>

<div class="map__event-win__treasures">
  <span class="map__event-win__treasures__title">Найдены сокровища</span>

  <div class="map__event-win__treasures__items">
    <div *ngFor="let item of treasures" class="map__event-win__treasures__items__item">
      <item-info-short [item]='item'></item-info-short>
    </div>
  </div>

  <div class="map__event-win__treasures__heroes">
    <div class="map__event-win__treasures__heroes__description">Какому герою отдать:</div>
    <heroes-info-short [heroes]="heroes" [isNewHeroAvailable]="false"
                       class="map__event-win__treasures__heroes__list"
                       (selectedHero)="choseHero($event)"></heroes-info-short>
  </div>
</div>

<div class="map__event-win__buttons">
  <div class="buttons_start">
  </div>
  <div class="buttons_end">
    <button ion-button color="dark" (click)="close()">Закрыть</button>
  </div>
</div>
