<ion-toolbar>
  <div class="map__event-win__header">Найдены сокровища!</div>
</ion-toolbar>

<div class="map__event-win__content">
  <div class="map__event-win__content__heroes">
    <div class="map__event-win__content__heroes__description">Какому герою отдать:</div>
    <heroes-info-short [heroes]="heroes"
                       [isNewHeroAvailable]="false"
                       class="map__event-win__content__heroes__list"
                       (selectedHero)="choseHero($event)"></heroes-info-short>
  </div>

  <div class="map__event-win__content__treasures">
    <div class="map__event-win__content__treasures__description">Сокровища</div>

    <div class="map__event-win__content__treasures__items">
      <div *ngFor="let item of treasures; index as i" class="map__event-win__content__treasures__items__item">
        <item-info-short [item]='item'
                         (click)="choseItem(i)"></item-info-short>
      </div>
    </div>
  </div>
</div>

<div class="map__event-win__buttons">
  <div class="buttons_start">
  </div>
  <div class="buttons_end">
    <button ion-button color="dark" (click)="close()">Закрыть</button>
  </div>
</div>
