.map__event-win {

  &__header {
    height: 10vh;
    padding-top: 3vh;
    font-size: 4vh;
    font-weight: bold;
    text-align: center;
    vertical-align: bottom;
  }

  &__treasures {
    display: grid;
    grid-template-rows: auto auto auto;
    text-align: center;
    padding: 2vh;

    &__title {
      padding: 1vh;
    }

    &__items {
      display: grid;
      grid-template-columns: repeat(5, 12vh);
      grid-template-rows: repeat(2, 12vh);
      grid-column-gap: 2vh;
      grid-row-gap: 2vh;
      justify-items: center;

      &__item {
        height: 12vh;
        width: 12vh;
        border-radius: 2vh;
      }
    }

    &__heroes {
      &__description {

      }
      &__list {
        display: block;
        height: 20vh;
      }
    }
  }

  &__buttons {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-between;
    grid-column-gap: 5vh;
    padding: 1vh;
    overflow: hidden;

    button {
      margin: 0;
      width: 100%;
      border-radius: 1vw;
      font-size: 3vh;
    }
  }
}
