.map__field__cell {
  position: relative;

  &__battle-event, &__search-event, &__treasures, &__cave, &__info {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
  }

  &__battle-event {
    &_exists-boss {
      background-color: red;
    }
  }

  &__search-event, &__treasures, &__cave {
    padding: 25%;
  }
  &__cave {
    padding: 15%;
  }

  &__info {
    font-size: 3.5vh;
    color: red;
  }
}
