.map__field__cell {
  position: relative;

  &__battle-event {
    position: absolute;
    top: 0;
    z-index: 1;

    &_exists-boss {
      background-color: red;
    }
  }

  &__search-event, &__treasures {
    position: absolute;
    z-index: 1;
    top: 0;
    padding: 25%;
  }

  &__info {
    position: absolute;
    color: red;
    top: -.5vh;
  }
}
