<ion-content class="battle-background" scroll="false">
  <ion-toolbar class="battle-title">
    <ion-buttons start>
      <gold></gold>
    </ion-buttons>
    <ion-title>Сражение</ion-title>
    <ion-buttons end>
      <button ion-button (click)="openInventory()">
        Инвентарь
      </button>
    </ion-buttons>
  </ion-toolbar>

  <button ion-button color="dark" (click)="close()">Автопобеда</button>

  <div class="battle-field">
    <div class="battle-field__target battle-field__target_monster">
      <div class="battle-field__target__image"></div>
      <div class="battle-field__target__equipment"></div>
      <div class="battle-field__target__effects"></div>
    </div>
    <div class="battle-field__creatures">
      <div class="battle-field__creatures__scroll-before"></div>
      <div class="battle-field__creatures"></div>
      <div class="battle-field__creatures__scroll-after"></div>
    </div>
    <div class="battle-field__dices">
      <div class="battle-field__dices__target-dice"></div>
      <div class="battle-field__dices__value-dice"></div>
    </div>
    <div class="battle-field__target battle-field__target_hero">
      <div class="battle-field__target__image"></div>
      <div class="battle-field__target__equipment"></div>
      <div class="battle-field__target__effects"></div>
      <div class="battle-field__target__abilites"></div>
    </div>
  </div>
</ion-content>

