<div class="battle-background">
  <ion-toolbar class="battle-title">
    <ion-buttons start>
      <gold></gold>
    </ion-buttons>
    <ion-title>Сражение</ion-title>
    <ion-buttons end>
      <button ion-button (click)="openInventory()">
        Инвентарь
      </button>
    </ion-buttons>
  </ion-toolbar>

  <div class="battle-field">
    <target [isShownAbilities]="false"
            [creature]="targetMonter"
            class="battle-field__target battle-field__target_monster"></target>

    <creatures-list [creatures]="creaturesOrder"
                    [selectedCreatureId]="selectedCreatureId"
                    [lastCreatureInRound]="lastCreatureInRound"
                    [currentRound]="currentRound"
                    (selectCreature)="onSelectCreature($event)">
    </creatures-list>

    <div class="battle-field__dices">
      <dice-target [dice]='targetHero?.lastDiceTarget'
                    class="battle-field__dices__target-dice"
                    (click)="clickTarget()"></dice-target>
      <dice [dice]='targetHero?.lastDiceValue || 6'
            class="battle-field__dices__value-dice"
            (click)="clickDice()"></dice>
    </div>

    <target [isShownAbilities]="true"
            [creature]="targetHero"
            [selectedAbilityType]="selectedHeroAbilityType"
            (selectAbilityType)="onSelectAbilityType($event)"
            class="battle-field__target battle-field__target_hero"></target>
  </div>

  <div *ngIf="waiting" class="display-blocker"></div>
</div>
