<ion-content class="battle-background" scroll="false">
  <ion-toolbar class="battle-title">
    <ion-buttons start>
      <gold></gold>
    </ion-buttons>
    <ion-title>Сражение</ion-title>
    <ion-buttons end>
      <button ion-button (click)="openInventory()">
        Инвентарь
      </button>
    </ion-buttons>
  </ion-toolbar>

  <div class="battle-field">
    <target [isShownAbilities]="false"
            [creature]="targetMonter"
            (selectAbility)="selectAbility"
            class="battle-field__target battle-field__target_monster"></target>

    <div class="battle-field__creatures"
         [ngStyle]="{ 'grid-template-columns': 'repeat(' + creatures.length + ', minmax(10vh, auto))' }">
      <div *ngFor="let creature of creatures; let i = index;"
           (click)="selectedCreature(i)"
           [@scaleSelected]="i === selectedCreatureIndex ? 'selected' : ''"
           class="battle-field__creatures__creature"
           [ngClass]="{ 'battle-field__creatures__creature_selected': i === selectedCreatureIndex }"
           [ngStyle]="{
              'height': (27 - creatures.length * 1.5) + 'vh',
              'width': (27 - creatures.length * 1.5) + 'vh'
            }">
        <creature-info-short [creature]='creature'></creature-info-short>
      </div>
    </div>
    <div class="battle-field__dices">
      <div class="battle-field__dices__target-dice"></div>
      <div class="battle-field__dices__value-dice"></div>
    </div>

    <target [isShownAbilities]="true"
            [creature]="targetHero"
            [selectedAbilityIndex]="selectedHeroAbilityIndex"
            (selectAbilityIndex)="onSelectAbilityIndex($event)"
            class="battle-field__target battle-field__target_hero"></target>
  </div>
</ion-content>
