page-battle {
  .battle-background {
    background: url(../assets/img/backgrounds/todo.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    .scroll-content {
      display: table !important;
      width: 100% !important;
      height: 100% !important;
    }
    .fixed-content {
      background: url(../assets/img/backgrounds/todo.jpg) no-repeat center center fixed;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
    }

    .battle-title {
      min-height: 8vh;
      max-height: 8vh;
      .toolbar-background {
        background-color: transparent;
      }

      ion-buttons button {
        color: white;
      }

      ion-title .toolbar-title {
        font-weight: bold;
        color: white;
      }
    }

    .battle-field {
      display: grid;
      grid-template-columns: 1fr auto;
      grid-template-rows: auto 1fr auto;
      grid-template-areas: "monster monster"
                           "creatures dices"
                           "hero hero";

      &__target {
        height: 30vh;

        &_monster {
          grid-row: monster;
          grid-column: monster;
        }
        &_hero {
          grid-row: hero;
          grid-column: hero;
        }
      }

      &__creatures {
        grid-row: creatures;
        grid-column: creatures;
        background-color: gray;
      }

      &__dices {
        grid-row: dices;
        grid-column: dices;
        height: 20vh;
        width: 20vh;
        display: grid;
        grid-template-rows: 1fr 1fr;
        background-color: brown;

        &__target-dice, &__value-dice {
          height: 8vh;
          width: 8vh;
          background-color: black;
        }
      }
    }
  }
}
