
<ion-content scroll="false">
  <div *ngIf="shopEquipment" class="shop__equipment">
    <div class="shop__equipment__type-equipment">
      <img item-left src="assets/img/dice.png" alt="" title="" />
    </div>
    <div *ngFor="let e of equipment"
         class="shop__equipment__type-equipment">
      <img item-left src="{{e.img}}" alt="" title="" />
    </div>
    <div class="shop__equipment__hitpoints">
      <img item-left src="{{shopEquipment.hitpoints.img}}" alt="" title="" />
    </div>

    <div class="shop__equipment__values">
      <div *ngFor="let value of [1,2,3,4,5,6]"
           class="shop__equipment__values__value"
           [ngClass]="{
                        'shop__equipment__values__value_quality_good': value === 4 || value === 5,
                        'shop__equipment__values__value_quality_best': value === 6
                      }">
        +{{value}}
      </div>
    </div>
    <div *ngFor="let e of equipment" class="shop__equipment__values">
      <div *ngFor="let item of (e.items | availableItems: choosenHero)"
            class="shop__equipment__values__value"
            [ngClass]="{
                        'shop__equipment__values__value_not-available-price': item.cost > playerGold,
                        'shop__equipment__values__value_selected': isSelectedItem(e.itemType, item.value)
                      }"
            (click)="selectItem(e.itemType, item)">
        {{item.cost}}
        <img src="assets/img/gold.png" alt="" title="" />
        <span *ngIf="!isSelectedItem(e.itemType, item.value)"
              class="shop__equipment__values__value__item-count">
          {{item.countExists() | itemCount}}
        </span>
      </div>
    </div>
    <div class="shop__equipment__values">
      <div *ngFor="let item of (shopEquipment.hitpoints.items | availableHitPoints: choosenHero)"
           class="shop__equipment__values__value"
           [ngClass]="{
                        'shop__equipment__values__value_not-available-price': item.cost > playerGold,
                        'shop__equipment__values__value_selected': isSelectedHitpoints(item.value)
                      }"
           (click)="selectHitpoints(item)">
        {{item.cost}}
        <img src="assets/img/gold.png" alt="" title="" />
        (<span class="shop__equipment__values__value__hitpoints-value">
          +{{item.value}}
        </span>)
      </div>
    </div>
  </div>
</ion-content>
