event-attack {
    .header {
        height: 10vh;
        padding-top: 3vh;
        font-size: 4vh;
        font-weight: bold;
        text-align: center;
        vertical-align: bottom;
    }
    .monsters{        
        text-align: center; 
        position: relative; 
        height: 30vh;

        .monster-boss, .monster-level2, .monster-level1 {
            left: 0;
            right: 0;
        }

        .monster-boss {
            position: absolute;
            .cell-image {
                height: 30vh;
            }
        }

        .monster-level2 {
            position: absolute;
            bottom: 0;
            .cell-image {
                height: 21vh;
                margin-left: -7vh;
                margin-right: -7vh;
            }
        }
        
        .monster-level1 {
            position: absolute;
            bottom: 0;
            .cell-image {
                height: 15vh;
                margin-left: -4vh;
                margin-right: -4vh;
            }
        }
    }
    .buttons {
        height: 10vh;
        display: flex;
        overflow: hidden;
        justify-content: space-between;
        .buttons_start {
            text-align: left;
            button {
                background-color: darkslategray;
            }
        }
        .buttons_end {
            text-align: right;
            button {
                background-color: red;
            }
        }
        button {
            border-radius: 1vw;
            font-size: 3vh;
        }
    }
    /*ion-toolbar ion-buttons {
        height: 8vh;
        position: relative; 
        padding-top: 1vh;
        padding-bottom: 1vh;
        button {
            position: absolute !important; 
            bottom: 0;
            background-color: red;
            font-size: 4vh !important;
        }
    }*/
}