
<ion-content scroll="false">
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-list ion-scroll class="shop__ability-list">
          <ion-item *ngFor="let ability of shopAbilitiesPage.abilities"
                    class="shop__ability-list__ability"
                    [ngClass]="{
                      'shop__ability-list__ability_not-available-price': !isAvailablePrice(ability.cost),
                      'shop__ability-list__ability_selected': isSelectedAbility(ability)
                    }"
                    (click)="selectAbility(ability)">
            <ion-thumbnail item-left class="shop__ability-list__ability__img">
              <img src="{{ability.img}}">
            </ion-thumbnail>
            <p class="shop__ability-list__ability__name">{{ability.name}}</p>
            <div item-right class="shop__ability-list__ability__cost">
              {{ability.cost}}
              <img src="assets/img/gold.png" alt="" title="" />
            </div>
          </ion-item>
        </ion-list>
      </ion-col>
      <ion-col>
        <div class="shop__ability-list__info">
          <ng-container *ngIf="choosenAbility">
            <div class="shop__ability-list__info__title">{{choosenAbility.name}}</div>
            <div class="shop__ability-list__info__property"
                 *ngFor="let prop of propertiesDescription">{{prop}}</div>
            <div class="shop__ability-list__info__description">{{choosenAbility.description}}</div>
          </ng-container>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
