ability-list {
  .shop__ability-list__grid {
    height: 100%;
    padding: 0;
  }

  .shop__ability-list {
    max-height: 100%;
    min-height: 100%;
    margin: 0;
    overflow:scroll !important;
    background-color:rgba(0, 0, 0, 0.4);
    border-radius: 5vh;
  }

  .shop__ability-list__ability {
    min-height: 15vh;
    max-height: 15vh;
    background-color: transparent;

    &__img {
      min-height: 10vh;
      min-width: 10vh;
      img {
        height: 10vh;
        width: 10vh;
      }
    }
    &__name {
      white-space: normal;
      color: white;
    }
    &__cost {
      color: white;
      img {
        height: 5vh;
        width: 5vh;
      }
    }

    &_not-available-price {
        opacity: .3;
    }
    &_selected {
      font-weight: bold;
      background-color: rgba(255, 217, 0, 0.6);
      .name {
        color: green;
      }
    }

    &:first-child {
      border-radius: 5vh 5vh 0vh 0vh;
    }
    &:last-child {
      border-radius: 0vh 0vh 5vh 5vh;
    }
  }

  .shop__ability-list__info {
    max-height: 100%;
    min-height: 100%;
    background-color:rgba(0, 0, 0, 0.4);
    border-radius: 5vh;
    padding: 2vh;

    &__title {
      text-align: center;
      font-size: 5.5vh;
      font-weight: bold;
      color: lightsteelblue;
    }
    &__property {
      text-align: center;
      font-size: 4.0vh;
      color: lightskyblue;
    }
    &__description {
      text-align: justify;
      color: white;
    }
  }
}
