.container {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  height: 100vh;
  background: url('assets/img/backgrounds/start.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;


  .menu {
    width: 30%;

    &__item {
      opacity: var(--control-opacity);
      font-weight: bold;
    }
  }
}
